<div id="landing-cont" class="d-flex justify-content-center align-items-center">
  <div id="opt-cont">
    <div id="nd-cont">
      <div id="name-land">
        <p class="land-text">ALEXANDER</p>
        <p class="land-text">PHOTOGRAPHE</p>
      </div>
      <%= link_to "home", class:"text-decoration-none" do %>
        <p class="land-text" id="land-hover">PORTFOLIO</p>
      <% end %>
    </div>
  </div>
</div>
