#navbar_container {
  height: 8.8vh;
  background-color: #fffffff2;
}

#image_navbar {
  width: 14vw;
}

.text-cont-port {
  width: 10vw;
  text-decoration: none;
}

#dropdown-button {
  background-color: unset;
}

.text-font {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  color: black;
  border: none;
  :hover{
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  }
}

#dropdown-menu {
  display: none;
}

#dropdown-list {
  background-color: #ffffffbf;
  width: 20.665vw;
  padding: 0;
}

.dropdownitem {
  height: 6vh;
  display: flex;
  align-items: center;
  :hover {
    background-color: #ffffffa6;
  }
}

.text-font-drop {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  color: black;
  border: none;
  padding-left: 2.4vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.text-cont{
  width: 9vw;
  text-decoration: none;
}

#dropdown-menu.show {
  display: block;
}


@media (max-width: 48em) {
  .text-cont-port{
    width: 13vw;
  }
  .text-font {
    font-size: 2vw;
  }

  #dropdown-list {
    width: 24vw;
  }

  .text-font-drop {
    font-size: 1.8vw;
  }

  #drop-port {
    width: 22.5vw;
  }
}


@media (max-width: 40em) {
  #navbar_container {
    height: 64px;
  }

  #image_navbar {
    width: 30vw;
  }

  .text-cont{
    width: 14vw;
  }

  .text-cont-port{
    width: 20vw;
  }

  .text-font {
    font-size: 3vw;
  }

  #dropdown-list {
    height: 150px;
    width: 100vw;
    padding-left: 7px;
  }

  .dropdownitem {
    height: 50px;
  }

  .text-font-drop {
    font-size: 3vw;
  }
  #drop-port {
    width: 35vw;
  }
}

@media (max-width: 22em) {
  .text-cont-port{
    width: 22vw;
  }
  #drop-port {
    width: 15vw;
  }
}
