#navbar_container {
  height: 8.8vh;
  background-color: #FFFFFF;
}

#image_navbar {
  width: 17vw;
}

.text-cont{
  width: 8vw;
}

.text-font {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
}

@media (max-width: 40em) {
  #navbar_container {
    height: 64px;
  }

  #image_navbar {
    width: 30vw;
  }

  .text-cont{
    width: 14vw;
  }

  .text-font {
    font-size: 3vw;
  }
}
