<div id="footer">
  <div id="copyright" class="footcont">
    <%= image_tag "copyrightsymbol.png", id:"copyrightsymbol"%>
    <p class="footerfont">Alexander Padilla</p>
  </div>

  <div id="backtotop" class="footcont">
    <%= image_tag "back_to_top_logo.png", id:"backtotopsymbol"%>
  </div>

  <div id="footercontact" class="footcont">
    <%= link_to "/contact", class: "text-decoration-none" do %>
      <p class="footerfont">Contact</p>
    <% end %>
  </div>

</div>
