<nav class='sticky-top' id='navbar_container'>
  <div class="d-flex justify-content-between align-items-center h-100">
    <div class="h-100 d-flex align-items-center ms-3">
      <%= link_to root_path do %>
        <%= image_tag "navbar_name.png", id:"image_navbar" %>
      <% end %>
    </div>

    <div class="d-flex h-100">
      <div class="d-flex align-items-center justify-content-center me-2 text-cont">
        <p class="text-font">Portfolio +</p>
      </div>
      <div class="d-flex align-items-center justify-content-center me-2 text-cont">
        <p class="text-font">Contact</p>
      </div>
    </div>
  </div>
</nav>
