<div class="d-flex align-items-center justify-content-center" id="contact-page-cont">
  <div id="info-cont">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <div class="contact-text-cont">
        <p class="contact-text">Vancouver, BC | Montréal, Qc</p>
      </div>
      <div class="contact-text-cont">
        <%= link_to "mailto:alex.padilla@hotmail.com", class:"text-decoration-none hyper", target: :_blank do %>
          <p class="contact-text">alex.padilla@hotmail.com</p>
        <% end %>
      </div>

      <div class="contact-text-cont">
        <%= link_to "https://www.instagram.com/alexander_p7/", class:"text-decoration-none", id:"insta-hyper", target: :_blank do %>
          <p class="contact-text hyper">Instagram</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
