<div id="image_container_home">
  <div class="row justify-content-between w-100 gx-0">
    <%= image_tag "Alexander Padilla-5.jpg", class:"col-md-5 col-12 image-cont-test portrait" %>
    <div class="col-md-5 col-12 image-cont">
    </div>
  </div>
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 image-cont">
    </div>
    <div class="col-md-5 col-12 image-cont">
    </div>
  </div>
  <div class="row justify-content-between w-100 gx-0">
    <div class="col-md-5 col-12 image-cont">
    </div>
    <div class="col-md-5 col-12 image-cont">
    </div>
  </div>
</div>
