@import "home";
@import "contact";
@import "shared/portfolios";
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import"shared/navbar";
@import"shared/footer";
@import "landing";

p {
  margin: unset;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f8f8f8;
  min-height: 100vh;
}

.hide {
  display: none;
}
