#contact-page-cont {
  width: 100vw;
  height: 80.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vh;
}

#info-cont {
  width: 39.53vw;
  height: 36vh;
  background-color: #fffffff2;
}

.contact-text-cont + .contact-text-cont {
  margin-top: 2vh;
}

.contact-text {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 42px;
  text-align: center;
  color: #000000;
}



.hyper {
  :hover{
    transition: 0.1s ease-in;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media (max-width: 48em) {
  #info-cont {
    width: 70vw;
  }
  .contact-text {
    font-size: 3vw;
  }
}

@media (max-width: 40em) {
  #info-cont {
    width: 90vw;
    height: 30vh;
    top: 35vh;
  }

  .contact-text {
    font-size: 5vw;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
}
