#image_container_home {
  margin-left: 10.9375vw;
  margin-right: 10.9375vw;
  margin-top: 8vh;
  height: fit-content;
}

.lrg-cont{
  margin-bottom: 10vh;
}

.image-cont-port {
  animation: image-load 600ms ease-out;
}

.overlay-text {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-size: 1.8vw;
  color: #ffffff;
  opacity: 0;
}


.hover-img:hover{
  .overlay-text {
    transition: 0.3s;
    opacity: 1;
  }
}

@keyframes image-load {
  0% {
    transform: perspective(200px) translateZ(-100px);
  }

  100% {
    transform: perspective(200px) translateZ(0);
  }
}

@media(max-width: 48em) {
  .image-cont {
    height: 60vh;
  }
}

@media(max-width:767px) {
  #image_container_home {
    margin-top: 7vh;
  }
}
