.images-cont-port {
  margin-left: 10.9375vw;
  margin-right: 10.9375vw;
  margin-top: 5vh;
  height: 150vh;
  background-color: white;
}

.port-title {
  text-align: center;
  margin-top: 6vh;
  font-family: 'Jacques Francois';
  font-style: normal;
  color: black;
  border: none;
}
